
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

dist
build
.out
.next
.cache

*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

server/.env
client/.env

logs
*.log
*.log.*
log/

.vscode
.idea
*.swp
*.swo
.DS_Store

coverage
.nyc_output
jest-html-reporters-*

mysql-data
.tmp

